@use "../abstracts/mixins" as *;

.brands {
	padding-block: 100px;
}
.container-brand {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 16px;
}

.brands__wrapper {
	position: relative;
	margin: 0 auto;
}
.brands__title {
	font-weight: 500;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 24px;
	line-height: 24px;
	text-align: start;
	color: var(--text-card-100);
}
.brands__list {
	display: flex;
	align-items: center;
	overflow-x: scroll;
}
.brands__item {
	flex-shrink: 0;
}

.brands__item:not(:last-child) {
	margin-right: 20px;
}
.brands__img {
	width: 100px;
	height: 28px;
}

@include mq(tablet) {
	.brands {
		padding-block: 120px;
	}
	.container-brand {
		padding-left: 20px;
	}
	.brands__title {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 34px;
	}
	.brands__item:not(:last-child) {
		margin-right: 50px;
	}
	.brands__img {
		width: 140px;
		height: 40px;
	}
}

@include mq(desktop) {
	.brands {
		padding-block: 160px;
	}
	.container-brand {
		padding: 0 20px;
	}
	.brands__item:not(:last-child) {
		margin-right: 66px;
	}
	.brands__list {
		display: flex;
		overflow-x: hidden;
	}
}
