@use "../abstracts/mixins" as *;
body{
  background-image: url("../images/hero/malibu-desctob.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero{
  padding: 20px 0px 100px 0px;
}

.carousel__list{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__item{
   height: 300px;
   padding: 40px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: salmon;
  border-radius: 15px;
  background-image: url("../images/hero/malibu-desctob.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__item2{
  background-image: url("../images/hero/malibu-desctob.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__title{
  margin: 0;
  margin-bottom: 6px;
  font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000;
}

.carousel__text{
  margin: 0;
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #000;
}

@include mq(tablet){

  .hero{
    padding: 20px 0px 120px 0px;
  }

  .carousel__item{
    height: 100%;
    height: 500px;
    padding: 60px 0px 40px 0px;
  }

  .carousel__title{
    margin-bottom: 10px;
  font-size: 36px;
  line-height: 44px;
  }

  .carousel__text{
  font-size: 16px;
line-height: 20px;
  }

}

@include mq(desktop){
  .hero{
    padding: 20px 0px 133px 0px;
  }

  .carousel__item{
    padding-bottom:54px ;
  }
}