$colors: (
  success:(
    100:#299764,
    900:#077743

  ),
  neutral:(
    100:#FFF,
    200:#F5F5F5,
    300:#E5E7EA
  ),
  dark:(
    100:#555,
    200:#272727,
    300:#1C1C1C,
    400:#333333,
    900:#000
  ),
  sky:(
    100:#4285F4,
  )
);
