$fontSizes:(
    small:(
        50:14px,
        100:16px,
        200:18px,
        300:24px,
        400:24px,
        500:36px,
        600:38px,
        nav100:24px,
        nav200:24px,
    ),
    tablet:(
        300:28px,
        400:36px,
        600:24px,
        nav200:28px,
    )
);

$fontWeights:(
    100:500,
    200:600,
    300:700
);