@use "../abstracts/mixins" as *;

*,*::before,*::after{
    box-sizing: inherit;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--ff-main);
    overflow-x: hidden;
    background-color: var(--bg-body);
    transition: background-color .3s ease-in-out;
}

body.overlay{
    background: var(--bg-overlay);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    @include defaultList;
}

button{
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

a{
    display: inline-block;
    text-decoration: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main{
    flex-grow: 1;
}

h1{
    text-align: center;
}

.title{
    text-align: center;
}

.overlay{
    position: absolute;
    inset: 0;
    display: none;
    background-color: rgba(0,0,0,0.7);
}

.overlay.show{
    display: block;
}