@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../abstracts/mixins" as *;

:root{
    @each $type, $name in $colors{
        @each $prop, $value in $name{
            --clr-#{$type}-#{$prop}:#{$value};
        }
    }

    @each $screen-size, $font-size in $fontSizes{
        @if($screen-size == tablet){
            @include mq(tablet){
                @each $size, $value in $font-size{
                    --fs-#{$size}:#{$value};
                }
            }
        }
        @else{
            @each $size, $value in $font-size{
                --fs-#{$size}:#{$value};
            }
        }
    }
    @each $level, $weight in $fontWeights{
        --fw-#{$level}:#{$weight};
    }
    --clr-main:var(--clr-neutral-100);
    --clr-main-text:var(--clr-dark-900);
    --bg-body:var(--clr-main);
    --text-body:var(--clr-main-text);
    --ff-main:"Montserrat",sans-serif;
    --bg-nav:var(--clr-neutral-100);
    --bg-overlay:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    --ff-main:"Montserrat",sans-serif;
    --bg-card:var(--clr-neutral-200);
    --text-card-100:var(--clr-dark-900);
    --text-card-200:var(--clr-dark-100);
    --category-btn-border:#e5e7ea;
}


body.dark{
    --bg-body:var(--clr-dark-300);
    --clr-main:var(--clr-dark-900);
    --main-color:var(--clr-neutral-100);
    --bg-nav: var(--clr-dark-300);
    --bg-overlay:rgba(0,0,0,0.2);
    --bg-card:var(--clr-dark-200);
    --text-card-100:var(--clr-neutral-100);
    --text-card-200:var(--clr-neutral-100);
    --category-btn-border:#333,
}